<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form method="POST" action="{% url 'salva_pessoa' %}"> 
            {% csrf_token %}
            <input type="text" name="nome" placeholder="Nome:  ">
            <input type="text" name="email" placeholder="Email:  ">
            <input type="text" name="password" placeholder="Senha:  ">
            <button type="submit">Enviar dados</button>
        </form>
    {% endblock %}
</body>
</html>