<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem vindo</h1>
    {% block content %}
    <form method="POST" action="{% url 'buscar_usuario_unico' %}">
        {% csrf_token %}
        <label for="nome_usuario">Nome do usuario desejado: </label>
        <input id="nome_usuario" type="text" name="nome_usuario">
        <button type="submit">Enviar</button>
    </form>
    {% endblock %}
</body>
</html>